<!-- Open Graph / LinkedIn Meta Tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<!-- Manually point to your portfolio preview image -->
<meta property="og:image" content="https://github.io">
