<!-- Open Graph / LinkedIn Meta Tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="Product Analyst with 12+ years of experience combining Product Analytics, Product Discovery, UX Research and experimentation to reduce uncertainty and evolve complex software products.">

<!-- Manually point to your portfolio preview image -->
<meta property="og:image" content="https://mikael-pintassilgo.github.io/portfolio/og-image.png">
<meta property="og:image:width" content="1734">
<meta property="og:image:height" content="907">
